:root {
  --dark-blue-100: #609ED4;
  --dark-blue-200: #356EA9;
  --dark-blue-300: #0A3871;
  --dark-blue-400: #072B61;
  --dark-blue-500: #052051;

  --light-blue-100: #F3F5FC;
  --light-blue-200: #EFF1FA;
  --light-blue-300: #E9ECF8;
  --light-blue-400: #AAB2D5;
  --light-blue-500: #757FB2;

  --gray-100: #CED4DA;
  --gray-200: #ADB5BD;
  --gray-300: #868E96;
  --gray-400: #485057;
  --gray-500: #343A40;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--light-blue-100);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 90%;
  max-width: 400px;
  margin: 20px 0;
}

.logo_alura{
  position: absolute;
  left: 30px;
  right: 37.43%;
  top: 25px;
  bottom: 0%;
}

.main {
  height: 100%;
  display: flex;
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

.text_session {
  width: 60%;
  height: 100%;
  padding-top: 40px;
}

.logo-alura:hover {
  height: 48px;
  margin-right: 100px;
  transform: scale(1.2);
  transition-duration: 0.5s;
}

form {
  padding-top: 60px;
  padding-left: 110px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - 148px);
}

form textarea {
  width: 100%;
  border: none;
  font-family: "Inter";
  outline: none;
  color: var(--dark-blue-300);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  background-color: transparent;
}

form textarea::placeholder {
  color: var(--dark-blue-300);
}

.text-input{
 
    width: 600px;
    height: 400px;
    left: 15%;
    top: 168px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    justify-content: baseline;
    /* identical to box height, or 48px */
    resize: none;
  
    /* Dark blue/dark-blue-300 */
  
    color: #0A3871;
    background: transparent;
    border: none;
}
  ::placeholder { color: #0A3871; }
  
.text-input:focus { 
      border: none;
      outline: none;
}

button {
  width: 328px;
  height: 67px;
  text-align: center;
  box-shadow: none;
  border: 1px solid var(--dark-blue-300);
  border-radius: 24px;
  padding: 24px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 19px;
  outline: none;
}

.alerta {
  font-family: 'Inter';
  font-size: 12px;
  color: var(--gray-400);
  opacity: 0.8;
  margin: 0 0 16px 8px;
}

.alerta img {
  margin-bottom: -4px;
}

.botoes {
  display: flex;
  gap: 20px;
}

button.btn-criptografar {
  background-color: var(--dark-blue-300);
  color: #FFFFFF;
}

button.btn-descriptografar {
  background-color: #D8DFE8;
  color: var(--dark-blue-300);
}

.form-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  
  position: absolute;
  width: auto;
  height: 18px;
  left: 13%;
  top: 651px;
  
}

button.btn-copiar {
  width: 100%;
  margin-top: 30px;
  background-color: #FFFFFF;
  color: var(--dark-blue-300);
}

.no_text {
  width: 40%;
  height: 680px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.521);
  border-radius: 32px;
  margin: 40px 40px 40px 100px;
  padding: 25px;
}

.div_aparece p {
  overflow: auto;
}

.message-box{
    position: absolute;
    width: 400px;
    height: 750px;
    left: 70%;
    top: 20px;
    padding-left: 20px;
    padding-top: 80px;
    /* White */
  
    background: #FFFFFF;
    /* shadow */
  
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
  
.message-box h2{
    position: static;
    width: 336px;
    height: 58px;
    left: 0px;
    top: 0px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 120%;
    /* or 29px */
  
    text-align: center;
  
    /* Gray/gray-500 */
  
    color: #343A40;
    background: #FFFFFF;
  
  
  /* Inside Auto Layout */
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}
  
.message-box h3{
    position: static;
    width: 336px;
    height: 48px;
    left: 0px;
    top: 74px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
  
    text-align: center;
  
    /* Gray/gray-300 */
  
    color: #495057;
    background: #FFFFFF;
  
  
    /* Inside Auto Layout */
  
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}
  
.message-box-div, .message-box-div img {
    padding-top: 40px;
    background: #FFFFFF;
}
  

.titulo_nao_retorno {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: var(--gray-500);

  margin: 32px 32px 32px 16px;
}

.message-box-div p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-400);
}

.texto-cripto {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.texto-cripto p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: left;
  color: var(--gray-400);
}

footer {
  position: fixed; /* Define o posicionamento como fixo */
  bottom: 0; /* Posiciona o footer na parte inferior da página */
  left: 0; /* Alinha o footer à esquerda */
  width: 100%; 
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(var(--light-blue-100), var(--light-blue-400), var(--dark-blue-500));
  padding: 40px 0;
  display: block;
  height: auto;


}

.logo_link {
  height: 70px;
  margin: 15px 5px 20px 5px;

}

.logo_link:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.logo_heart{
  height: 30px;
  margin: auto
}